{% extends 'jpress/_layout.html' %}
{% load static %}
{% load article_tag %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<div class="layui-col-xs12 layui-col-sm7 layui-col-md8 perfree-content-left">
	<link rel="stylesheet" href="{% static 'jpress/static/plugin/vue-markdown/vue.css' %}" media="all">
	<link rel="stylesheet" href="{% static 'jpress/static/css/article.css' %}" media="all">
	<script src="{% static 'jpress/static/js/article.js' %}"></script>
	<!-- 文章start -->
	<div class="layui-card">
		<div class="layui-card-header article-title">
			<h2>{{ article.title }}</h2>
			<p>
                <i class="fa fa-tag"></i>{{ article.category }}&nbsp;
				<i class="fa fa-eye"></i> {{article.views}}浏览&nbsp;
{#				<i class="fa fa-comment-o"></i> 评论&nbsp;#}
				<i class="fa fa-clock-o"></i> {{article.c_time}}
                <i class="fa fa-edit"></i><a href="/admin/article/article/{{ article.id }}/change/" target="_blank">编辑</a>
			</p>
		</div>
		<div class="layui-card-body article-body">
			<span id="edit-model" style="display: none">#(article.edit_mode)</span>
			<div class="perfree-article-content">
                {{ article.get_message_as_markdown | truncatechars:100 }}
			</div>
            <br>
			<div class="appreciate-box">
				<button class="layui-btn layui-btn-radius layui-btn-normal" onclick="appreciate();">
					<i class="layui-icon">&#xe65e;</i>赞赏
				</button>
				<span class="appreciate-tip">如果觉得我的文章对你有用，请随意赞赏</span>
			</div>
			<div id="appreciate-content">
				<img src="{% static 'images/pay.png' %}" width="330px" height="260px">
			</div>
		</div>
	</div>

	<div class="layui-card">
		<div class="layui-card-header" style="padding: 0 20px;">发表评论</div>
		<div class="layui-card-body revert-body">
			<!-- 评论框start -->
			<div class="revert-box">
				<form class="layui-form" action="{% url 'articles:article_comment' %}" id="L_content" method="post">
					<input type="hidden" name="articleId" value="{{article.id}}" id="articleId">
					<input type="hidden" name="pid" id="pid">
                    <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
					<button class="layui-btn layui-btn-normal revert-submit" lay-submit lay-filter="add-comment">发表评论</button>
				</form>
			</div>
			<!-- 评论框end -->
			<!-- 评论列表start -->
			<div class="revert-list" id="allComment">
				{% for c in comments %}
					<div class="revert-content-box">
						<div class="revert-user">
							<span class="revert-user-msg">
								<span class="revert-user-name">{{c.user}}</span>
								<br>
								<span class="revert-user-time">{{ c.c_time|date:"Y-m-j G:i" }}</span>
							</span>
						</div>
						<div class="revert-content">
                            {{c.comment}}
						</div>
                    </div>
					<hr class="layui-bg-gray">
                {% endfor %}
			</div>
			<!-- 评论列表end -->
		</div>
	</div>
	<script>
		layer.photos({
			photos: '.perfree-article-content',
			anim: 5
		});
		$(document).on("mousewheel DOMMouseScroll", ".layui-layer-phimg img", function(e) {
			var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) || // chrome & ie
					(e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1)); // firefox
			var imagep = $(".layui-layer-phimg").parent().parent();
			var image = $(".layui-layer-phimg").parent();
			var h = image.height();
			var w = image.width();
			if(delta > 0) {
				if(h < (window.innerHeight)) {
					h = h * 1.05;
					w = w * 1.05;
				}
			} else if(delta < 0) {
				if(h > 100) {
					h = h * 0.95;
					w = w * 0.95;
				}
			}
			imagep.css("top", (window.innerHeight - h) / 2);
			imagep.css("left", (window.innerWidth - w) / 2);
			image.height(h);
			image.width(w);
			imagep.height(h);
			imagep.width(w);
		});
		function appreciate() {
			layer.open({
				type: 1,
				title:'微信赞赏',
				shade: 0.6,
				shadeClose:true,
				content: $('#appreciate-content')
			});
		}
	</script>
	<script>
		$('pre code').each(function(){
			var edit = $("#edit-model").text();
			var lines = $(this).text().split('\n').length-1;
			if(edit == 'html'){
				lines = $(this).text().split('\n').length;
			}
			var $numbering = $('<ul/>').addClass('pre-numbering hljs');
			$(this)
					.addClass('has-numbering')
					.parent()
					.append($numbering);
			for(i=1;i<=lines;i++){
				$numbering.append($('<li/>').text(i+"."));
			}
		});

		layui.use(['layer','form'], function(){
        var layer = layui.layer
           ,form = layui.form;
          form.on('submit(add-comment)', function(data){
              var content = $("#L_content").text();
          $.ajax({
              type: "post",
              url:"{% url 'articles:article_comment' %}",
              data:{'article_id': {{ article.id }}, 'content': content},
              dateType:"json",
              async: false,
              success: function(data) {
                  if(data.status == 'success'){
                      alert("提交成功");
                      window.location.reload();//刷新当前页面.
                  }else {
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
              },
          });
          return false;
            });
          });
	</script>
</div>
{% endblock %}
