mysqlclient
requests
librosa
google-cloud-storage
requests
django-mdeditor
django-pure-pagination
mistune
django-import-export
markdown
bs4
celery
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
django-crontab
html5lib==1.0.1
idna==2.6
jieba==0.39
pdfrw==0.4
Pillow==5.1.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyparsing==2.2.0
Pyphen==0.9.4
pytz==2018.3
requests
six==1.11.0
tinycss2==0.6.1
urllib3
WeasyPrint==0.40
webencodings==0.5.1
django-extensions
django-werkzeug-debugger-runserver==0.3.1
pyOpenSSL
python-nmap
django==3.1.5
django-crispy-forms>=1.6.0
django-reversion>=2.0.0
django-formtools==2.1
future==0.15.2
httplib2==0.9.2
django-filter
django-simple-serializer==2.0.7
coreapi==2.3.3
django-cors-headers==2.4.0
cairocffi
pymysql
ipaddr
pexpect
pymongo
dnspython3
gevent
msgpack
psycopg2-binary
xmltodict
whois
ajpy==0.0.4
selenium
awscli          # aws 命令行工具
virustotal-api  # 子域名查询接口
loguru  # 日志美化
django-simpleui
lxml
simplejson
django-crontab