{% include 'moments/header.html' %}
    <div class="topbar"> </div>

    <!-- .main_content-->
    <div class="main_content">

        <!-- section content -->
        <section class="content">

            <!-- standart article -->
            <article class="post-88 post type-post status-publish format-video hentry category-uncategorized">

                <h2><span class="post_title_icon"></span>{{article.title}}</h2>

                <!-- postmeta -->
                <div class="postmeta">
                    <span><i class="fa fa-clock-o"></i> {{article.c_time}}</span>
                    <span><i class="fa fa-bookmark"></i> {{article.category}}</span>
                    <span><i class="fa fa-eye"></i> {{article.views}}</span>
                    <span><i class="fa fa-edit"></i><a href="/admin/article/article/{{ article.id }}/change/" target="_blank">编辑</a></span>

{#                        <span><i class="fa fa-comments"></i> <?php comments_popup_link('0 comments', '1 comment', ' % comments'); ?></span>#}
                </div>
                <!-- postmeta -->

                <!-- entry-content -->
                <div class="entry-content clearfix">
                <div class="entry-colors"><div class="color_col_1"></div><div class="color_col_2"></div><div class="color_col_3"></div></div>
                    <div class="icon"><i class="fa fa-pencil fa-2x"></i></div>
                    {{ article.content|safe }}
                </div>
                <!-- entry-content -->

            </article>
            <!-- standart article -->
            <section id="respond" class="respond-form">

                <div id="comment-form-title"><h3>评论</h3></div>

                <form action="{% url 'articles:article_comment' %}" method="post" id="commentform">
                    <ul id="comment-form-elements">
                        <li>
                            <label for="comment">评论内容: </label>
                            <textarea name="content" id="content" tabindex="4" rows="7" cols="100%"></textarea>
                        </li>

                        <input name="submit" type="submit" id="submitcomment" class="submitbutton" tabindex="5" value="提交评论">
                        <input type="hidden" name="article_id" value="{{ article.id }}" id="comment_post_ID">
                    </ul>
                </form>
                <div class="revert-list" id="allComment">
				{% for c in comments %}
					<div class="revert-content-box">
						<div class="revert-user">
                            <span class="fa fa-user"> {{c.user}}</span>
                            <span class="fa fa-clock-o"> {{ c.c_time|date:"Y-m-j G:i" }}</span>
						</div>
						<div class="fa">
                            {{c.comment}}
						</div>
                    </div>
					<hr class="layui-bg-gray">
                {% endfor %}
			</div>

            </section>

        </section>
        <!-- section content -->

        {% include 'moments/sidebar.html' %}
</div>
    <!-- .main_content-->

{% include 'moments/footer.html' %}
