{% include 'moments/header.html' %}
    <div class="topbar"> </div>

    <!-- .main_content-->
    <div class="main_content">

        <!-- section content -->
        <section class="content">

            <!-- standart article -->
            <article class="post-88 post type-post status-publish format-video hentry category-uncategorized">

                <h2><span class="post_title_icon"></span>{{article.title}}</h2>

                <!-- postmeta -->
                <div class="postmeta">
                    <span><i class="fa fa-clock-o"></i> {{article.c_time}}</span>
                    <span><i class="fa fa-bookmark"></i> {{article.category}}</span>
                    <span><i class="fa fa-eye"></i> {{article.views}}</span>
{#                        <span><i class="fa fa-comments"></i> <?php comments_popup_link('0 comments', '1 comment', ' % comments'); ?></span>#}
                </div>
                <!-- postmeta -->

                <!-- entry-content -->
                <div class="entry-content clearfix">
                <div class="entry-colors"><div class="color_col_1"></div><div class="color_col_2"></div><div class="color_col_3"></div></div>
                    <div class="icon"><i class="fa fa-pencil fa-2x"></i></div>
                    {{ article.get_message_as_markdown|safe }}
                </div>
                <!-- entry-content -->

            </article>
            <!-- standart article -->
            <section id="respond" class="respond-form">

                <div id="comment-form-title"><h3>Post a comment</h3></div>

                <div id="cancel-comment-reply">
                    <p class="small"><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Click here to cancel reply.</a></p>
                </div>


                <form action="http://demo.s5themes.com/moments/wp-comments-post.php" method="post" id="commentform">

                <ul id="comment-form-elements">


                    <li>
                      <label for="author">Your Name*:</label>
                      <input type="text" name="author" id="author" value="" tabindex="1" aria-required="true">
                    </li>

                    <li>
                      <label for="email">Your Mail*:</label>
                      <input type="email" name="email" id="email" value="" tabindex="2" aria-required="true">
                    </li>

                    <li>
                      <label for="url">Your Website*:</label>
                      <input type="url" name="url" id="url" value="" tabindex="3">
                    </li>


                    <li>
                        <label for="comment">Your comment*: </label>
                        <textarea name="comment" id="comment" tabindex="4" rows="7" cols="100%"></textarea>
                    </li>


                  <input name="submit" type="submit" id="submitcomment" class="submitbutton" tabindex="5" value="POST COMMENT">
                  <input type="hidden" name="comment_post_ID" value="82" id="comment_post_ID">
            <input type="hidden" name="comment_parent" id="comment_parent" value="0">

                <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="ddacecf175"></p><p style="display: none;"></p>	</ul>
                <input type="hidden" id="ak_js" name="ak_js" value="1608268211072"></form>

            </section>

        </section>
        <!-- section content -->

        {% include 'moments/sidebar.html' %}
</div>
    <!-- .main_content-->

{% include 'moments/footer.html' %}
