{% load static %}
<!DOCTYPE html>
<!-- begin head -->
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>小猪哼哼</title>

	<!-- begin meta -->
	<meta name="viewport" content="width=device-width">
    <meta name="keywords" content="信息安全，网络攻防">
    <meta name="description" content="信息安全">
    <meta name="template" content="Perfree-Simple">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- 引入资源文件 -->
    <link rel="shortcut icon" href="{% static 'moments/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'moments/css/style.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'moments/css/font-awesome.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'moments/css/main.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'moments/css/normalize.min.css' %}" media="all">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/github.min.css" rel="stylesheet">
    <style>
    .codehilite {
      padding: 0;
    }

    /* for block of numbers */
    .hljs-ln-numbers {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      text-align: center;
      color: #ccc;
      border-right: 1px solid #CCC;
      vertical-align: top;
      padding-right: 5px;
    }

    .hljs-ln-n {
      width: 30px;
    }

    /* for block of code */
    .hljs-ln .hljs-ln-code {
      padding-left: 10px;
      white-space: pre;
    }
  </style>
    <!-- 代码样式 -->
    <script src="{% static 'moments/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
    <script src="{% static 'moments/js/custom.js' %}"></script>
{#    <script src="{% static 'moments/static/plugin/layui/layui.js' %}"></script>#}
{#    <script src="{% static 'moments/static/plugin/pjax/pjax.js' %}"></script>#}
{#    <script src="{% static 'moments/static/js/perfree.js' %}"></script>#}
{#    <script src="{% static 'moments/static/plugin/music/Meting.min.js' %}"></script>#}

</head>
<!-- end head -->

	<body class="home blog">
		<div class="main-container">

			<!-- begin header_container -->
			<div class="header_container_fixed">

				<!-- begin header -->
				<header class="wrapper clearfix">

					<!-- begin logo -->
					<h1 class="textlogo" title="xxx">
                        <a href="/" >小猪哼哼</a>
					</h1>
                    <h2 class="description">专注信息安全、web漏洞挖掘</h2>

{#					<h2 class="description">Collection of things to remember</h2>#}
					<!-- end logo -->

               		<div class="mini_divider"></div>
                        <nav class="menu-mainmenu-container">
                            <ul id="menu-mainmenu" class="menu">

                                <li id="menu-item-17"><a href="{% url 'cases:cases_index' %}" target="_blank">测试用例库</a></li>
                                <li id="menu-item-18"><a href="{% url 'tools:tools_index' %}" target="_blank">在线工具</a></li>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a>{{ user }}</a>
{#                                    <a href="{% url 'users:user_home' request.user.id %}" target="_blank">个人中心</a>#}
                                    {% if request.user.is_superuser %}
                                        <a href="/admin/" target="_blank">后台管理</a>
                                    {% endif %}
                                    <a href="{% url 'users:logout' %}"> 退出登录 </a>
                                    </dl>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'users:login' %}"> 登录</a>|
                                    <a href="{% url 'users:register' %}"> 注册</a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>

	                <div class="mini_divider"></div>

	                <!-- begin search form -->
                    <div class="search_box">
                        <form method="get" id="searchform" action="{% url 'article:article_search' %}">
                            <input type="text" class="field" name="q" id="s" placeholder="" />
                        </form>
                    </div>
                	<!-- end search form -->

	                <div class="mini_divider"></div>

	            </header>
	            <!-- end header -->

	         </div>
        	<!-- end header_container -->


        <!-- begin main -->
        <div class="main wrapper clearfix">