{% load static %}
<!-- begin aside -->
<aside>
    {% if article %}
        <div id="archives-2" class="widget_sidebar widget_archive">
            <h3 class="widget-title">目录</h3>
            {{ md.toc|safe }}
        </div>
    {% endif %}
    <div id="recent-posts-2" class="widget_sidebar widget_recent_entries">
        <h3 class="widget-title">分类</h3>
        <ul>
        {% for c in categories %}
            <li><a href="{% url 'articles:articles_category' c.name %}">{{ c.name }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div id="recent-comments-3" class="widget_sidebar widget_recent_comments">
        <h3 class="widget-title">打赏</h3>
        <img src="{% static 'images/pay.png' %}" width="200px" height="180px">
    </div>

{##}
{#    <div id="categories-2" class="widget_sidebar widget_categories"><h3 class="widget-title">Categories</h3>		<ul>#}
{#	<li class="cat-item cat-item-2"><a href="category/thoughts/index.html" title="this is thoughts category and this is category decription...">Thoughts</a>#}
{#</li>#}
{#	<li class="cat-item cat-item-1"><a href="category/uncategorized/index.html">Uncategorized</a>#}
{#</li>#}
{#	<li class="cat-item cat-item-3"><a href="category/wordpress/index.html" title="wordpress category description. you can edit simply this message from category description section, thats it!">Wordpress</a>#}
{#</li>#}
{#		</ul>#}
{#</div>        <!-- END Sidebar Widgets Area -->#}

</aside>
<!-- end aside -->