{% extends 'super.html' %}
{% block title %}密码生成{% endblock %}
{% block content %}
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
              <div class="layui-form" lay-filter="">
                <div class="layui-form-item">
                  <label class="layui-form-label">密码长度</label>
                  <div class="layui-input-block">
                    <input type="text" id="source_str" placeholder="指定密码长度，提交即可" class="layui-input">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">密码</label>
                  <div class="layui-input-block">
                    <input type="text" id="password" value="" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn" id="submit">确认提交</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#submit').click(function(){
              var source_str = $("#source_str").val();

              $.ajax({
                  type: "post",
                  url:"{% url 'tools:gen_password' %}",
                  data:{
                      'source_str': source_str,
                  },
                  dateType:"json",
                  success: function(data) {
                      if (data.status == 'success'){
                          $('#password').val(data.msg);

                      }
                      else {
                          alert('提交失败');

                      }
                  },
              });
            return false;
          });
    </script>
{% endblock %}
