{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="jie1ex5b5RoSw9poCPsiEgdIr1chGKuMtDljVWElqNQ" />
    <meta name="baidu-site-verification" content="SvevRkso3g" />
    <meta name="360-site-verification" content="01a9f809d588136e009e900aa2d9fda4" />
    <meta name="baidu_union_verify" content="f3382f2e9fcab1574ea9b54966418c3b">
    <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="博客，哼哼博客">
  <meta name="description" content="哼哼博客">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% block css %}{% endblock %}
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
{#      <img src="{% static 'images/logo.png' %}" alt="找窍门logo" style="width: 100px; height: 45px">#}
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/">首页</a>
      </li>
      <li class="layui-nav-item">
{#        <a href="../../../static/fly-3.0/html/case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>#}
      </li>
      <li class="layui-nav-item">
        <a href="{% url 'articles:about' %}">关于我</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      
      <!-- 登入后的状态 -->
        {% if request.user.is_authenticated %}
            <li class="layui-nav-item">
            <a class="fly-nav-avatar" href="javascript:;">
              <cite class="layui-hide-xs">{{ user }}</cite>
{#              <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>#}
{#              <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>#}
                {% if user.profile.avatar %}
                    <img src="/media/{{ user.profile.avatar }}" alt="用户头像">
                {% else %}
                    <img src="/media/avatar/default.png" alt="默认头像">
                {% endif %}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="{% url 'users:user_center' %}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>用户中心</a></dd>
              <dd><a href="{% url 'users:user_set' %}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
{#              <dd><a href="user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>#}
{#              <dd><a href="{% url 'users:user_home' user_id %}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>#}
                {% if request.user.is_superuser %}
                    <dd><a href="/admin/" target="_blank"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe770;</i>后台管理</a></dd>
                {% endif %}
              <hr style="margin: 5px 0;">
              <dd><a href="{% url 'users:logout' %}" style="text-align: center;">退出</a></dd>
            </dl>
          </li>

{#      <li class="layui-nav-item layui-hide-xs">#}
{#        <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>#}
{#      </li>#}
{#      <li class="layui-nav-item layui-hide-xs">#}
{#        <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>#}
{#      </li>#}
      
      <!-- 未登入的状态 -->
        {% else %}
          <li class="layui-nav-item">
            <a class="iconfont icon-touxiang layui-hide-xs" href="{% url 'users:login' %}"></a>
          </li>
          <li class="layui-nav-item">
            <a href="{% url 'users:login' %}">登入</a>
          </li>
          <li class="layui-nav-item">
            <a href="{% url 'users:register' %}">注册</a>
          </li>
        {% endif %}
    </ul>
  </div>
</div>

<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
        <li><a href="{% url 'cases:cases_index' %}">测试用例库</a></li>
            <li><a href="{% url 'tools:tools_index' %}">在线工具</a></li>

        {% for c in categories %}
            <li><a href="{% url 'articles:articles_category' c.name %}">{{ c.name }}</a></li>
        {% endfor %}
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
      
      <!-- 用户登入后显示 -->
        {% if request.user.is_authenticated %}
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="{% url 'users:user_home' request.user.id %}">我的主页</a></li>
        {% endif %}
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search" id="article-search"><i class="layui-icon"></i></span>
      <a href="{% url 'articles:add_message' %}" class="layui-btn">留言</a>
    </div>
  </div>
</div>

{% block body %}{% endblock %}

<div class="fly-footer">
    <p><a href="https://www.dongjianjun.com" target="_blank">董建军博客</a> 2020 &copy; <a href="https://www.dongjianjun.com" target="_blank">dandh 出品</a></p>
    {#    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>#}
    <p>京ICP备20000068号-2</p>

</div>
 
<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'layui/layui.all.js' %}"></script>
<script src="{% static 'layui/lay/modules/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'layui/lay/modules/jquery-2.2.3.min.js' %}"></script>
<script>
    $("#article-search").click( function() {
        layui.use('layer', function () {
            layer.open({
                type: 1
                , title: false
                , closeBtn: false
                , shadeClose: true
                , maxWidth: 10000
                , skin: 'fly-layer-search'
                , content: ['<form action="{% url 'articles:article_search' %}" method="post">'
                    , '<input autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">'
                    , '</form>'].join('')
                , success: function (layero) {
                    var input = layero.find('input');
                    input.focus();

                    layero.find('form').submit(function () {
                        var val = input.val();
                        if (val.replace(/\s/g, '') === '') {
                            return false;
                        }
                        {#input.val('site:layui.com ' + input.val());#}
                    });
                }
            })
        })
    })
</script>

{#<ul class="layui-fixbar">#}
{#    <li class="layui-icon" lay-type="bar1" style="background-color:#009688"></li>#}
{#    <li class="layui-icon layui-fixbar-top" lay-type="top" style="background-color: rgb(0, 150, 136); display: list-item;"></li>#}
{#    <button onclick="topFunction()" id="back-to-top" title="回顶部">返回顶部</button>#}
{#</ul>#}

{% block js %}{% endblock %}

</body>
</html>