{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="博客，信息安全">
  <meta name="description" content="信息安全博客">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% block css %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

<div class="fly-footer">
    <p>Copyright © 2020-2021 Injection</p>
    <p>{{ SITE_ICP }}</p>

</div>
 
<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'layui/layui.all.js' %}"></script>
<script src="{% static 'layui/lay/modules/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'layui/lay/modules/jquery-2.2.3.min.js' %}"></script>
<script>
    $("#article-search").click( function() {
        layui.use('layer', function () {
            layer.open({
                type: 1
                , title: false
                , closeBtn: false
                , shadeClose: true
                , maxWidth: 10000
                , skin: 'fly-layer-search'
                , content: ['<form action="{% url 'articles:article_search' %}" method="post">'
                    , '<input autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">'
                    , '</form>'].join('')
                , success: function (layero) {
                    var input = layero.find('input');
                    input.focus();

                    layero.find('form').submit(function () {
                        var val = input.val();
                        if (val.replace(/\s/g, '') === '') {
                            return false;
                        }
                        {#input.val('site:layui.com ' + input.val());#}
                    });
                }
            })
        })
    })
</script>

{% block js %}{% endblock %}
</body>
</html>