{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="layui-container">
      <div class="layui-row layui-col-space15">
        {% block content %}{% endblock %}
        <div class="layui-col-md4">
{#          <div class="fly-panel fly-signin">#}
{#            <div class="fly-panel-title">#}
{#              签到#}
{#              <i class="fly-mid"></i>#}
{#              <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>#}
{#              <i class="fly-mid"></i>#}
{#              <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>#}
{#              <span class="fly-signin-days">已连续签到<cite>16</cite>天</span>#}
{#            </div>#}
{#            <div class="fly-panel-main fly-signin-main">#}
{#              <button class="layui-btn layui-btn-danger" id="LAY_signin" onclick="setExcerpt()">收入摘抄</button>#}
                {#<input type="button" onclick="setExcerpt()" value="摘抄" />#}
{#              <span>可获得<cite>5</cite>飞吻</span>#}
{##}
{#              <!-- 已签到状态 -->#}
{#              <!--#}
{#              <button class="layui-btn layui-btn-disabled">今日已签到</button>#}
{#              <span>获得了<cite>20</cite>飞吻</span>#}
{#              -->#}
{#            </div>#}
{#          </div>#}

        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title">热门经典</dt>
{#            {% for h in hot_articles %}#}
{#                <dd>#}
{#                  <a href="{% url 'articles:article_detail' h.id %}">{{ h.title }}</a>#}
{#                  <span><i class="iconfont">&#xe60b;</i>{{ h.views }}</span>#}
{#                </dd>#}
{#            {% endfor %}#}
        </dl>
{#        <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">#}
{#            <h3 class="fly-panel-title">积分排行</h3>#}
{#            <dl>#}
{#              <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->#}
{#                {% for hu in hot_users %}#}
{#                  <dd>#}
{#                    <a href="{% url 'users:user_home' hu.user_id %}">#}
{#                        {% if hu.avatar %}#}
{#                            <img src="/media/{{ hu.avatar }}" alt="用户头像">#}
{#                        {% else %}#}
{#                            <img src="/media/avatar/default.png" alt="默认头像">#}
{#                        {% endif %}#}
{#                        <cite>{{ hu.username }}</cite><i>{{ hu.point }}</i>#}
{#                    </a>#}
{#                  </dd>#}
{#                {% endfor %}#}
{#            </dl>#}
{#          </div>#}
{#          <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">#}
{#            <h3 class="fly-panel-title">回贴排行</h3>#}
{#            <dl>#}
{#              <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->#}
{#                {% for hu in hot_users %}#}
{#                  <dd>#}
{#                    <a href="{% url 'users:user_home' hu.user_id %}">#}
{#                        {% if hu.avatar %}#}
{#                            <img src="/media/{{ hu.avatar }}"><cite>{{ hu.username }}</cite><i>{{ hu.num_comments }}</i>#}
{#                        {% else %}#}
{#                            <img src="/media/avatar/default.png">#}
{#                        {% endif %}#}
{#                    </a>#}
{#                  </dd>#}
{#                {% endfor %}#}
{#            </dl>#}
{#          </div>#}

{#          <div class="fly-panel" style="padding: 20px 0; text-align: center;">#}
{#            <div class="fly-panel-title">#}
{#              支持我#}
{#            </div>#}
{#            <div class="fly-panel-main">#}
{#                <img src="{% static 'images/dashang.png' %}" alt="打赏">#}
{#            </div>#}
{#          </div>#}

          <div class="fly-panel fly-link">
              <dl class="fly-panel fly-list-one">
                  <dt class="fly-panel-title">站点统计</dt>
{#                  <dd>发布经文：{{scriptures|length}}</dd>#}
{#                  <dd>音乐：{{musices|length}}</dd>#}
{#                  <dd>用户数：{{users|length}}</dd>#}
{#                  <dd>评论数：{{comments|length}}</dd>#}
{#                  <dd>诵经数：2</dd>#}
{#                  <dd>访问量：{{visitnum}}</dd>#}

              </dl>
          </div>

        </div>
      </div>
    </div>
{% endblock %}