{% extends 'super.html' %}
{% block title %}安全测试用例库{% endblock %}
{% block content %}
    <div class="layui-col-md12 content detail">
        <div class="fly-panel detail-box">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                        <form class="layui-form" action="{% url 'cases:cases_search' %}" method="post">
                            <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">安全领域</label>
                                    <div class="layui-input-block">
                                        <select name="field">
                                            <option></option>
                                          {% for f in fields %}
                                              <option value="{{ f.name }}">{{ f.name }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>
                              </div>
                            <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">漏洞类型</label>
                                    <div class="layui-input-block">
                                        <select name="vul">
                                            <option></option>
                                          {% for v in vuls %}
                                              <option value="{{ v.name }}">{{ v.name }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>
                              </div>
                            <div class="layui-inline">
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                      <input type="text" name="cases_search" placeholder="请输入" class="layui-input">
                                    </div>
                                </div>
                            </div>

                              <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <button class="layui-btn layuiadmin-btn-useradmin">搜索用例</button>
                                  </div>
                              </div>
                        </form>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                              <tr>
                                <th>用例ID</th>
                                <th class="search-column">用例名称</th>
                                <th class="search-column">用例领域</th>
                                <th>所属漏洞</th>
                                <th>用例内容</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for c in cases %}
                                <tr>
                                    <td>{{ c.id }}</td>
                                    <td>{{ c.name }}</td>
                                    <td>{{ c.case_field }}</td>
                                    <td>{{ c.vul }}</td>
                                    <td>{{ c.content|linebreaks }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="border-top: 0px dotted #e2e2e2; text-align: center;">
                        <div class="laypage-main">
                            {% if cases.has_previous %}
                                <a class="laypage-prev" href="{% url 'cases:asset_list' 1 %}">第一页</a>
                                <a class="" href="{% url 'cases:asset_list' cases.previous_page_number %}">上一页</a>
                            {% endif %}

                            <span class="current">
                                    第 {{ cases.number }}页 | 共 {{ cases.paginator.num_pages }}页
                            </span>

                            {% if cases.has_next %}
                                <a class="laypage-next" href="{% url 'cases:asset_list' cases.next_page_number %}">下一页</a>
                                <a class="laypage-last" href="{% url 'cases:asset_list' cases.paginator.num_pages %}">最后一页</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        //Demo
        layui.use('form', function(){
          var form = layui.form;

          //监听提交
          form.on('submit(searchSubmit)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
          });
        });
    </script>
{% endblock %}
