{% extends 'super.html' %}
{% block title %}资产列表{% endblock %}
{% block content %}
    <div class="layui-col-md12 content detail">
        <div class="fly-panel detail-box">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                        <form class="layui-form" action="{% url 'cases:cases_index' %}" method="post">
                            <div class="layui-inline">
                                <label class="layui-form-label">IP</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="ip_search" placeholder="请输入" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">服务</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="service_search" placeholder="请输入" class="layui-input">
                                </div>
                            </div>

                              <div class="layui-inline">
                                <button class="layui-btn" lay-submit="" lay-filter="submit" value="搜索" data-type="reload">
                                  <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                              </div>
                        </form>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                              <tr>
                                <th>用例ID</th>
                                <th class="search-column">用例名称</th>
                                <th class="search-column">用例领域</th>
                                <th>所属漏洞</th>
                                <th>用例内容</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for c in cases %}
                                <tr>
                                    <td>{{ c.id }}</td>
                                    <td>{{ c.name }}</td>
                                    <td>{{ c.case_field }}</td>
                                    <td>{{ c.vul }}</td>
                                    <td>{{ c.content|linebreaks }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="border-top: 0px dotted #e2e2e2; text-align: center;">
                        <div class="laypage-main">
                            {% if cases.has_previous %}
                                <a class="laypage-prev" href="{% url 'cases:asset_list' 1 %}">第一页</a>
                                <a class="" href="{% url 'cases:asset_list' cases.previous_page_number %}">上一页</a>
                            {% endif %}

                            <span class="current">
                                    第 {{ cases.number }}页 | 共 {{ cases.paginator.num_pages }}页
                            </span>

                            {% if cases.has_next %}
                                <a class="laypage-next" href="{% url 'cases:asset_list' cases.next_page_number %}">下一页</a>
                                <a class="laypage-last" href="{% url 'cases:asset_list' cases.paginator.num_pages %}">最后一页</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        //Demo
        layui.use('form', function(){
          var form = layui.form;

          //监听提交
          form.on('submit(searchSubmit)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
          });
        });
    </script>
{% endblock %}
