{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block body %}
    <div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="{% url 'users:register' %}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  {{ form.username }}
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  {{ form.password }}
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="id_captcha_1" name="captcha_1" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                  <img class="captcha" alt="" src="{{image_url}}">
                  <input id="id_captcha_0" name="captcha_0" value="{{hashkey}}" type="hidden">
                  {{form.captcha.errors}}
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="{% url 'users:find_pass' %}">忘记密码？</a>
                </span>
                  <p style="color: red;">{{ errors }}</p>
              </div>
              <div class="layui-form-item fly-form-app">
{#                <span>或者使用社交账号登入</span>#}
{#                  <a href="{% url 'users:wechat_login' %}" onclick="layer.msg('微信扫码登录', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>#}

{#                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>#}
{#                <a href="/social/login/weibo" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>#}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $("img.captcha").click(function(){
            $.ajax({
                url: '{% url 'users:captcha_refresh' %}',
                success: function(data){
                    $("img.captcha").attr("src",data.image_url);
                    $("#id_captcha_0").attr("value",data.key);
                },

            });
        });

    </script>
{% endblock %}
