{% extends 'super.html' %}
{% load static %}

{% block title %}关于{% endblock %}

{% block content %}
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <div class="detail-body photos">
{#            <p>本人从事计算机行业，喜欢佛学，因此开发本网站，方便大家学习。</p>#}
{#            <p>欢迎注册，因为评论、收藏等功能需要注册用户才有权限，后续还准备开发在网页上面做笔记、摘抄功能。</p>#}
{#            <p>如果大家遇到网站功能有问题、音频和文字不同步、或者有其他建议，都可以留言或者发邮件给我。</p>#}
{#            <p>本站内容还在不断丰富中，大家有好的音频资源也可以发我。</p>#}
            <p>Email：dandh811@163.com</p>

            <p>微信：dandh811</p>
            <img src="{% static 'images/wechat_pay.png' %}">
        </div>
      </div>
    </div>
{% endblock %}
