{% extends 'super.html' %}
{% load static %}
{% load article_tag %}
{% block title %}{{ article.title }}{% endblock %}
{% block css %}
    <style>
        .functional-area-left {
            float:left;
            margin-left:-98px;
            padding-right:0!important;
            width:48px;
            position:fixed;
        }
        .functional-area-left .func-btn {
            margin-bottom:.5rem;
            border-radius:50%;
            padding:0;
            text-align:center;
            width:32px;
            height:32px;
            line-height:32px;
            font-size:1rem;
            border-color:transparent;
            background-color:#fff
        }
        .functional-area-left .func-btn:hover {
            color:#fff
        }
        .functional-area-left .func-btn.btn-outline-primary:hover {
            background-color:#00965e
        }
        .functional-area-left .func-btn.btn-outline-secondary:hover {
            background-color:#6c757d
        }
        .functional-area-left .func-btn.mainLike {
            position:relative;
            width:48px;
            height:48px;
            line-height:48px;
            margin-bottom:1rem;
            border-color:#00965e
        }
        .functional-area-left .func-btn .mainLikeNum {
            position:absolute;
            top:-40px;
            left:0;
            font-weight:700;
            display:block;
            width:48px;
            color:#6c757d
        }
    </style>
{% endblock %}
{% block content %}
    <div class="layui-col-md8 content detail">
        <div class="fly-panel detail-box">
            <h1>{{ article.title }}</h1>
            <div class="fly-detail-info">
              <!-- <span class="layui-badge">审核中</span> -->
              <span class="layui-badge" style="background-color: green;">{{ article.category }}</span>
    {#            <span style="padding-right: 10px; color: #FF7200"></span>#}
                  {% if res.collect %}
                    <span class="layui-btn layui-btn-xs jie-admin" style="background-color: red;" type="collect" data-type="add" id="uncollect">取消收藏</span>
                  {% else %}
                    <span class="layui-btn layui-btn-xs jie-admin" style="background-color: #994029;" type="collect" data-type="add" id="collect">收藏</span>
                  {% endif %}
    {#                    <span>{{ article.c_time|date:"Y-m-j G:i" }}</span>#}
                {% if request.user.is_superuser %}
                    <span class="layui-btn layui-btn-xs jie-admin" style="background-color: #999;">
                        <a href="/admin/article/article/{{ article.id }}/change/" target="_blank">编辑此贴</a>
                    </span>
                {% endif %}

              <span class="fly-list-nums">
                <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>{{ comments|length }}评论</a>
                <i class="iconfont" title="人气">&#xe60b;</i> {{ article.views }}
              </span>
            </div>

            <br>
            <div class="functional-area-left sticky-top d-none d-xl-flex">
                <div class="text-center">
                    <div class="btn-group like-group " role="group">
                        <button class="func-btn mainLike like-btn btn btn-outline-primary" onclick="setExcerpt()">摘录</button>
                        <button class="func-btn mainLike like-btn btn btn-outline-primary" onclick="setIdea()">想法</button>
                    </div>
                </div>
            </div>
          <div style="font-size: 20px; line-height: 200%" onclick="copyTxt()">{{ article.content|safe }}</div>
        <br>
        <div class="jieda-reply">
          {% if res.support %}
              <span class="jieda-zan zanok" type="zan" id="unzan-article">
          {% else %}
              <span class="jieda-zan" type="zan" id="zan-article">
          {% endif %}
            <i class="iconfont icon-zan"></i>
            <em>{{ article.support }}</em>
          </span>


{#                        <span onclick="shareTo('qq')">#}
{#                <img src="http://zixuephp.net/static/images/qqshare.png" width="32">#}
{#            </span>#}
{#                        <span onclick="shareTo('sina')">#}
{#                <img src="http://zixuephp.net/static/images/sinaweiboshare.png" width="36">#}
{#            </span>#}
{#                        <span onclick="shareTo('wechat')">#}
{#                <img src="{% static 'images/wechat_logo.png' %}" width="32">#}
{#            </span>#}
        </div>

          <div class="fly-panel detail-box" id="flyReply">
            <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
              <legend>回帖</legend>
            </fieldset>
            <ul class="jieda" id="jieda">
                {% for c in comments %}
                    <li data-id="111">
                <div class="detail-about detail-about-reply">
                  <a class="fly-avatar" href="">
                      {% if c.user.profile.avatar %}
                        <img src="/media/{{ c.user.profile.avatar }}" alt="">
                    {% else %}
                        <img src="/media/avatar/default.png">
                    {% endif %}
                  </a>
                  <div class="fly-detail-user">
                    <a href="{% url 'users:user_home' c.user.id %}" class="fly-link">
                      <cite>{{ c.user }}</cite>
                    </a>
                  </div>
                  <div class="detail-hits">
                    <span>{{ c.c_time|date:"Y-m-j G:i" }}</span>
                  </div>
                </div>
                <div class="detail-body jieda-body photos">
                  <p>{{ c.comment }}</p>
                </div>
                <div class="jieda-reply">
                  <span class="jieda-zan" type="zan">
                    <i class="iconfont icon-zan"></i>
                    <em>0</em>
                  </span>

                  <span type="reply"><i class="iconfont icon-svgmoban53"></i>评论</span>

                </div>
              </li>
                {% endfor %}
            </ul>
            <div class="layui-form layui-form-pane">
                {% if request.user.is_authenticated %}
                    <form class="layui-form">
                        <div class="layui-form-item layui-form-text">
                          <div class="layui-input-block">
                            <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <input type="hidden" id="article_id" value="{{ article_id }}">
                          <button class="layui-btn" lay-submit lay-filter="add-comment">提交评论</button>
                        </div>
                  </form>
                {% else %}
                    <p>请<a href="{% url 'users:login' %}?next={% url 'articles:article_detail' article_id %}" style="color:red"> 登录 </a>后再添加评论。</p>
                {% endif %}
            </div>
          </div>
    {#            <ul class="layui-fixbar">#}
    {#                <li class="layui-icon" lay-type="bar1" style="background-color:#009688"></li>#}
    {#                <li class="layui-icon layui-fixbar-top" lay-type="top" style="background-color: rgb(0, 150, 136); display: list-item;"></li>#}
    {#            </ul>#}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        layui.use(['layer','form'], function(){
        var layer = layui.layer
           ,form = layui.form;
          form.on('submit(add-comment)', function(data){
              var content = $("#L_content").val();
          $.ajax({
              type: "post",
              url:"{% url 'articles:article_comment' %}",
              data:{'article_id': {{ article.id }}, 'content': content},
              dateType:"json",
              async: false,
              success: function(data) {
                  if(data.status == 'success'){
                      alert("提交成功");
                      window.location.reload();//刷新当前页面.
                  }else {
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
              },
          });
          return false;
            });
          });

        $('#zan-article').click(function(){
        $.ajax({
            url: '{% url 'articles:article_support' %}',
            data: {'article_id': {{ article.id }}, 'action': 'support'},
            type: 'post',
            dataType: 'json',
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else {
                      $('#jsCompanyTips').html(data.msg);
                      alert("提交失败！");
                  }
              },
        })
        });

        $('#unzan-article').click(function(){
        $.ajax({
            url: '{% url 'articles:article_support' %}',
            data: {'article_id': {{ article.id }}, 'action': 'unsupport'},
            type: 'post',
            dataType: 'json',
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else {
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
              },
        })
        });

        $('#collect').click(function(){
        $.ajax({
            url: '{% url 'articles:article_collect' %}',
            data: {'article_id': {{ article.id }}, 'action': 'collect'},
            type: 'post',
            dataType: 'json',
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else {
                      $('#jsCompanyTips').html(data.msg);
                      alert("提交失败！");
                  }
              },
        })
        });

        $('#uncollect').click(function(){
        $.ajax({
            url: '{% url 'articles:article_collect' %}',
            data: {'article_id': {{ article.id }}, 'action': 'uncollect'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else {
                      $('#jsCompanyTips').html(data.msg);
                      alert("提交失败！");
                  }
              },
        })
        });

        function setExcerpt(){
            var tr = window.getSelection().getRangeAt(0);
            {#var span = document.createElement("span");#}
            {#span.style.cssText = "color:#ff0000";#}
            {#tr.surroundContents(span);#}
            $.ajax({
                url: '{% url 'article:add_excerpt' %}',
                data: {'article_id': {{article.id}}, 'content': tr.toString()},
                type: 'post',
                dataType: 'json',
                async: false,
                success: function(data) {
                    if(data.status == 'success'){
                        alert("已加入摘录");
                    }else {
                        $('#jsCompanyTips').html(data.msg);
                        alert("请先选中要摘录的内容");
                    }
                },
            })

        }

        function setIdea(){
            var tr = window.getSelection().getRangeAt(0);
            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入批注内容',
                area: ['500px', '200px'] // 宽、高
            }, function(value, index, elem){
                layer.close(index);
                $.ajax({
                    url: '{% url 'article:add_idea' %}',
                    data: {'article_id': {{article.id}}, 'content': tr.toString(), 'i_content': value.toString()},
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function(data) {
                        if(data.status == 'fail'){
                            alert("请先选中要批注的内容");
                        }
                    },
                })
            });
        }
    </script>
    <script>
        function shareTo(stype){
            var ftit = '';
            var flink = '';
            var lk = '';
            //获取文章标题
            ftit = $('.pctitle').text();
            //获取网页中内容的第一张图片
            flink = $('.pcdetails img').eq(0).attr('src');
            if(typeof flink == 'undefined'){
                flink='';
            }
            //当内容中没有图片时，设置分享图片为网站logo
            if(flink == ''){
                lk = 'http://'+window.location.host+'/static/images/logo.png';
            }
            //如果是上传的图片则进行绝对路径拼接
            if(flink.indexOf('/uploads/') != -1) {
                lk = 'http://'+window.location.host+flink;
            }
            //百度编辑器自带图片获取
            if(flink.indexOf('ueditor') != -1){
                lk = flink;
            }
            //新浪微博接口的传参
            if(stype=='sina'){
                window.open('http://service.weibo.com/share/share.php?url='+document.location.href+'?sharesource=weibo&title='+ftit+'&pic='+lk+'&appkey=2706825840');
            }
            //生成二维码给微信扫描分享
            if(stype == 'wechat'){
                window.open('inc/qrcode_img.php?url=http://zixuephp.net/article-1.html');
            }
        }
    </script>

{% endblock %}