{% extends 'super.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="layui-col-md12">
        <div class="fly-panel" style="margin-bottom: 0;">
            <ul class="fly-list">
            {% if not particles %}
                未找到搜索的内容
            {% endif %}
            {% for p in particles %}

                <li>
                    <h2>
                        <a class="layui-badge">{{ p.category }}</a>
                        <a href="{% url 'articles:article_detail' p.title %}">{{ p.title }}</a>
                    </h2>
                    <div class="fly-list-info">
{#                        <cite>{{ p.get_category_display }}</cite>#}
                        <cite>{{ p.}}</cite>
                        <span>{{ p.c_time|date:"Y-m-j G:i" }}</span>

{#                      <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>#}
                      <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
                      <span class="fly-list-nums">
{#                        <i class="iconfont icon-pinglun1" title="评论"></i>{{ p.articleuser_set.all|length }}#}
                          <i class="iconfont" title="人气">&#xe60b;</i> {{ p.views }}

                      </span>
                    </div>
                    <div class="fly-list-badge">
                      <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                    </div>
                </li>
            {% endfor %}
        </ul>
{#        <div style="text-align: center">#}
{#          <div class="laypage-main">#}
{#              {% if pks.has_next %}#}
{#                <a href="?page={{ pks.next_page_number }}" class="laypage-next">查看更多</a>#}
{#              {% endif %}#}
{#          </div>#}
{#        </div>#}
        <div style="border-top: 1px dotted #e2e2e2; text-align: center;">
            <div class="laypage-main">
                {% if particles.has_previous %}
                        <a href="?page=1" class="laypage-prev">第一页</a>

                        <a href="?page={{ particles.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                        第 {{ particles.number }}页 | 共 {{ particles.paginator.num_pages }}页
                </span>

                {% if particles.has_next %}
                        <a href="?page={{ particles.next_page_number }}" class="laypage-next">下一页</a>

                        <a href="?page={{ particles.paginator.num_pages }}" class="laypage-last">最后一页</a>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}