{% extends 'super.html' %}
{% load article_tag %}
{% block title %}作者简介{% endblock %}

{% block content %}
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1>{{ author.name }}</h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
{#          <span class="layui-badge layui-bg-green fly-detail-column">{{ article.category }}</span>#}
          
{#          <span class="layui-badge" style="background-color: #999;">未结</span>#}
{#          <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->#}
{#          #}
{#          <span class="layui-badge layui-bg-black">置顶</span>#}
{#          <span class="layui-badge layui-bg-red">精帖</span>#}

          <div class="fly-admin-box" data-id="123">
{#            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>#}
{#            #}
{#            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> #}
{#            <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->#}
{#            #}
{#            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> #}
            <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>{{ article.articleuser_set.all|length }}</a>
{#            <i class="iconfont" title="人气">&#xe60b;</i> 99999#}
          </span>
        </div>
        <div class="detail-about">
{#          <a class="fly-avatar" href="{% url 'users:user_home' article.author.id %}">#}
            {% if article.author.profile.avatar %}
                <img src="/media/{{ article.author.profile.avatar }}" alt="">
            {% else %}
                <img src="/media/avatar/default.png">
            {% endif %}
          </a>
          <div class="fly-detail-user">
{#            <a href="{% url 'users:user_home' k.author_id %}" class="fly-link">#}
              <cite>{{ article.author }}</cite>
{#              <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>#}
{#              <i class="layui-badge fly-badge-vip">VIP3</i>#}
            </a>
            <span>{{ article.c_time|date:"Y-m-j G:i" }}</span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
{#            <span style="padding-right: 10px; color: #FF7200"></span>#}
              {% if res.collect %}
                <span class="layui-btn layui-btn-xs jie-admin layui-btn-danger" type="collect" data-type="add" id="uncollect">取消收藏</span>
              {% else %}
                <span class="layui-btn layui-btn-xs jie-admin" type="collect" data-type="add" id="collect">收藏</span>
              {% endif %}
{#            <span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="">编辑此贴</a></span>#}
          </div>
        </div>
        <div class="detail-body photos">
            <div class="layui-collapse">
                {% for chapter in article.chapter_set.all %}
                    <div class="layui-colla-item">
                      <h2 class="layui-colla-title">{{ chapter.title }}<i class="layui-icon layui-colla-icon"></i></h2>
                      <div class="layui-colla-content">
                          <p>{{ chapter.content|linebreaks }}</p>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
      <br>
        <div class="jieda-reply">
          {% if res.support %}
              <span class="jieda-zan zanok" type="zan" id="unzan-article">
          {% else %}
              <span class="jieda-zan" type="zan" id="zan-article">
          {% endif %}
            <i class="iconfont icon-zan"></i>
            <em>{{ article.support }}</em>
          </span>


{#            <span class="jieda-cai" type="cai">#}
{#                <i class="iconfont icon-cai"></i>#}
{#                <em>0</em>#}
{#              </span>#}
{#              <div class="jieda-admin">#}
{#                <span type="edit">编辑</span>#}
{#                <span type="del" id="del-comment">删除</span>#}
{#                <span class="jieda-accept" type="accept">采纳</span>#}
{#              </div>#}
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>
        <ul class="jieda" id="jieda">
            {% for c in k.articleuser_set.all %}
                <li data-id="111">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="">
                  {% if c.user.profile.avatar %}
                    <img src="/media/{{ c.user.profile.avatar }}" alt="">
                {% else %}
                    <img src="/media/avatar/default.png">
                {% endif %}
              </a>
              <div class="fly-detail-user">
                <a href="{% url 'users:user_home' c.user.id %}" class="fly-link">
                  <cite>{{ c.user }}</cite>
                </a>
              </div>
              <div class="detail-hits">
                <span>{{ c.c_time|date:"Y-m-j G:i" }}</span>
              </div>
            </div>
            <div class="detail-body jieda-body photos">
              <p>{{ c.comment }}</p>
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>0</em>
              </span>

              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
              <div class="jieda-admin">
{#                <span type="edit">编辑</span>#}
{#                <span type="del" id="del-comment">删除</span>#}
{#                <span class="jieda-accept" type="accept">采纳</span>#}
              </div>
            </div>
          </li>
            {% endfor %}
        </ul>
        
        <div class="layui-form layui-form-pane">
            {% if request.user.is_authenticated %}
{#              <form action="{% url 'article:article_detail' article_id %}" method="post">#}
                <form class="layui-form">
                    <div class="layui-form-item layui-form-text">
                      <a name="comment"></a>
                      <div class="layui-input-block">
                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <input type="hidden" id="article_id" value="{{ article_id }}">
                      <button class="layui-btn" lay-submit lay-filter="add-comment">提交回复</button>
                    </div>
              </form>
            {% else %}
                <p>请<a href="{% url 'users:login' %}?next={% url 'articles:article_detail' article_id %}">登录</a>后再添加评论。</p>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}

{#    提交评论#}
    <script>
        layui.use(['layer','form'], function(){
        var layer = layui.layer
           ,form = layui.form;
          form.on('submit(add-comment)', function(data){
              var content = $("#L_content").val();
          $.ajax({
              type: "post",
              url:"{% url 'articles:article_comment' %}",
              data:{'article_id': {{ article_id }}, 'content': content},
              dateType:"json",
              async: false,
              {#beforeSend:function(xhr, settings){#}
              {#    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");#}
              {#  },#}
              success: function(data) {
                  if(data.status == 'success'){
                      alert("提交成功，增加1个积分！");
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
          });
          return false;
            });
          });
    </script>

{#    点赞#}
    <script>
        $('#zan-article').click(function(){
        $.ajax({
            url: '{% url 'articles:article_support' %}',
            data: {'article_id': {{ article_id }}, 'action': 'support'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("不能点赞自己发布的窍门！");
                  }
              },
        })
        });
    </script>

{#    踩#}
    <script>
        $('#unzan-article').click(function(){
        $.ajax({
            url: '{% url 'articles:article_support' %}',
            data: {'article_id': {{ article_id }}, 'action': 'unsupport'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
        })
        });
    </script>

    {#    收藏#}
    <script>
        $('#collect').click(function(){
        $.ajax({
            url: '{% url 'articles:article_collect' %}',
            data: {'article_id': {{ article_id }}, 'action': 'collect'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
        })
        });
    </script>

    {#    取消收藏#}
    <script>
        $('#uncollect').click(function(){
        $.ajax({
            url: '{% url 'articles:article_collect' %}',
            data: {'article_id': {{ article_id }}, 'action': 'uncollect'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
        })
        });
    </script>
{% endblock %}

