{% extends 'super.html' %}
{% load article_tag %}
{% block title %}详细{% endblock %}
{% block css %}
    <style>
        .lyric_area{/*歌词显示区域*/
        {#height: 360px; /*歌词区域高度*/#}
        overflow: hidden; /*隐藏超出部分*/
        margin-top: 15px;
            font-size: 20px;
        }
        #lyric{/*歌词列表*/
        line-height: 40px;/*行高，这个值要用在歌词滚动距离上*/
        transition-duration: 600ms;/*滚动速度*/
        }
        #lyric .lineHigh{/*高亮行*/
        color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1>{{ article.title }}</h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
          <span class="layui-badge" style="background-color: green;">{{ article.get_category_display }}</span>
{#            <span style="padding-right: 10px; color: #FF7200"></span>#}
              {% if res.collect %}
                <span class="layui-badge" style="background-color: red;" type="collect" data-type="add" id="uncollect"><a>取消收藏</a></span>
              {% else %}
                <span class="layui-badge" style="background-color: #999;" type="collect" data-type="add" id="collect">收藏</span>
              {% endif %}
{#                    <span>{{ article.c_time|date:"Y-m-j G:i" }}</span>#}
            {% if request.user.is_superuser %}
                <span class="layui-badge" style="background-color: #999;"><a href="/admin/article/article/{{ article_id }}/change/">编辑此贴</a></span>
                <span class="layui-badge" style="background-color: #999;">未结</span>
                <span class="layui-badge" style="background-color: #5FB878;">已结</span>
            {% endif %}

{#          <span class="layui-badge layui-bg-black">置顶</span>#}
{#          <span class="layui-badge layui-bg-red">精帖</span>#}

          <div class="fly-admin-box" data-id="123">
{#            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>#}
{#            #}
{#            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> #}
{#            <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->#}
{#            #}
{#            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> #}
            <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>{{ comments|length }}评论</a>
            <i class="iconfont" title="人气">&#xe60b;</i> {{ res.chanting_times }}
          </span>
        </div>

      <br>
          <audio controls="controls" style="width: 500px" id="audio" preload>
              <source src="/media/{{ article.voice }}" type="audio/ogg" />
              Your browser does not support the audio element.
          </audio>
{#        <div style="font-size: 25px; line-height: 200%" id="lrcArea">#}
            <div class="lyric_area">
                <ul id="lyric"></ul>
            </div>
          <textarea id="lrc_content" cols="30" style="display: none">{{ article.content }}</textarea>

      <br>
        <div class="jieda-reply">
          {% if res.support %}
              <span class="jieda-zan zanok" type="zan" id="unzan-article">
          {% else %}
              <span class="jieda-zan" type="zan" id="zan-article">
          {% endif %}
            <i class="iconfont icon-zan"></i>
            <em>{{ article.support }}</em>
          </span>

            <span class="jieda-zan" type="zan">

        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>
        <ul class="jieda" id="jieda">
            {% for c in comments %}
                <li data-id="111">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="">
                  {% if c.user.profile.avatar %}
                    <img src="/media/{{ c.user.profile.avatar }}" alt="">
                {% else %}
                    <img src="/media/avatar/default.png">
                {% endif %}
              </a>
              <div class="fly-detail-user">
                <a href="{% url 'users:user_home' c.user.id %}" class="fly-link">
                  <cite>{{ c.user }}</cite>
                </a>
              </div>
              <div class="detail-hits">
                <span>{{ c.c_time|date:"Y-m-j G:i" }}</span>
              </div>
            </div>
            <div class="detail-body jieda-body photos">
              <p>{{ c.comment }}</p>
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>0</em>
              </span>

              <span type="reply"><i class="iconfont icon-svgmoban53"></i>评论</span>
              <div class="jieda-admin">
{#                <span type="edit">编辑</span>#}
{#                <span type="del" id="del-comment">删除</span>#}
{#                <span class="jieda-accept" type="accept">采纳</span>#}
              </div>
            </div>
          </li>
            {% endfor %}
        </ul>
        <div class="layui-form layui-form-pane">
            {% if request.user.is_authenticated %}
{#              <form action="{% url 'article:article_detail' article_id %}" method="post">#}
                <form class="layui-form">
                    <div class="layui-form-item layui-form-text">
                      <a name="comment"></a>
                      <div class="layui-input-block">
                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <input type="hidden" id="article_id" value="{{ article_id }}">
                      <button class="layui-btn" lay-submit lay-filter="add-comment">提交评论</button>
                    </div>
              </form>
            {% else %}
                <p>请<a href="{% url 'users:login' %}?next={% url 'articles:article_detail' article_id %}" style="color:red"> 登录 </a>后再添加评论。</p>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}

{#    提交评论#}
    <script>
        layui.use(['layer','form'], function(){
        var layer = layui.layer
           ,form = layui.form;
          form.on('submit(add-comment)', function(data){
              var content = $("#L_content").val();
          $.ajax({
              type: "post",
              url:"{% url 'articles:article_comment' %}",
              data:{'article_id': {{ article_id }}, 'content': content},
              dateType:"json",
              async: false,
              {#beforeSend:function(xhr, settings){#}
              {#    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");#}
              {#  },#}
              success: function(data) {
                  if(data.status == 'success'){
                      alert("提交成功，增加1个积分！");
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
          });
          return false;
            });
          });
    </script>

{#    点赞#}
    <script>
        $('#zan-article').click(function(){
        $.ajax({
            url: '{% url 'articles:article_support' %}',
            data: {'article_id': {{ article_id }}, 'action': 'support'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("不能点赞自己发布的窍门！");
                  }
              },
        })
        });
    </script>

{#    踩#}
    <script>
        $('#unzan-article').click(function(){
        $.ajax({
            url: '{% url 'articles:article_support' %}',
            data: {'article_id': {{ article_id }}, 'action': 'unsupport'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
        })
        });
    </script>

    {#    收藏#}
    <script>
        $('#collect').click(function(){
        $.ajax({
            url: '{% url 'articles:article_collect' %}',
            data: {'article_id': {{ article_id }}, 'action': 'collect'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
        })
        });
    </script>

    {#    取消收藏#}
    <script>
        $('#uncollect').click(function(){
        $.ajax({
            url: '{% url 'articles:article_collect' %}',
            data: {'article_id': {{ article_id }}, 'action': 'uncollect'},
            type: 'post',
            dataType: 'json',
            {#contentType: 'application/json; charset=utf-8',#}
            success: function(data) {
                  if(data.status == 'success'){
                      window.location.reload();//刷新当前页面.
                  }else if(data.status == 'fail'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败！");
                  }
                  else if(data.status == 'error'){
                      $('#jsCompanyTips').html(data.msg)
                      alert("提交失败，不能评价自己发布的窍门！");
                  }
              },
        })
        });
    </script>

    <script>
        var lrc = document.getElementById("lrc_content").innerHTML;
        var oLRC = {
            offset: 0, //时间补偿值，单位毫秒，用于调整歌词整体位置
            ms: [] //歌词数组{t:时间,c:歌词}
        };
        var lineNo = 0; //当前行
        var C_pos = 3; //C位
        var offset = -40; //滚动距离（应等于行高）
        var audio = document.getElementById("audio");//播放器
        var ul = document.getElementById("lyric"); //歌词容器列表

        function createLrcObj(lrc) {
            if(lrc.length==0) return;
            var lrcs = lrc.split('\n');//用回车拆分成数组
            for(var i in lrcs) {//遍历歌词数组
                lrcs[i] = lrcs[i].replace(/(^\s*)|(\s*$)/g, ""); //去除前后空格

                var t = lrcs[i].substring(lrcs[i].indexOf("[") + 1, lrcs[i].indexOf("]"));//取[]间的内容
                var arr = lrcs[i].match(/\[(\d+:.+?)\]/g);//提取时间字段，可能有多个

                var start = 0;
                for(var k in arr){
                    start += arr[k].length; //计算歌词位置
                }

                var content = lrcs[i].substring(start);//获取歌词内容

                for (var k in arr){
                    var t = arr[k].substring(1, arr[k].length-1);//取[]间的内容
                    var s = t.split(":");
                    oLRC.ms.push({//对象{t:时间,c:歌词}加入ms数组
                        t: (parseFloat(s[0])*60+parseFloat(s[1])).toFixed(3),
                        c: content
                    });
                }
            }

            oLRC.ms.sort(function (a, b) {//按时间顺序排序
                return a.t-b.t;
            });
        }

        createLrcObj(lrc);

        function showLRC() {
            var s="";
            for(var i in oLRC.ms){//遍历ms数组，把歌词加入列表
                s+='<li>'+oLRC.ms[i].c+'</li>';
            }
            document.getElementById("lyric").innerHTML = s;
        }
        showLRC();

        //高亮显示歌词当前行及文字滚动控制，行号为lineNo
        function lineHigh() {
            var lis = ul.getElementsByTagName("li");//歌词数组
            if(lineNo>0){
                lis[lineNo-1].removeAttribute("class");//去掉上一行的高亮样式
            }
            lis[lineNo].className = "lineHigh";//高亮显示当前行

            //文字滚动
            if(lineNo>C_pos){
                ul.style.transform = "translateY("+(lineNo-C_pos)*offset+"px)"; //整体向上滚动一行高度
            }
        }

        //滚回到开头，用于播放结束时
        function goback() {
            document.querySelector("#lyric .lineHigh").removeAttribute("class");
            ul.style.transform = "translateY(0)";
            lineNo = 0;
        }

        //监听播放器的timeupdate事件，实现文字与音频播放同步
        audio.ontimeupdate = function () {
            if(lineNo==oLRC.ms.length)
                return;
            var curTime = audio.currentTime; //播放器时间
            if(parseFloat(oLRC.ms[lineNo].t)<=curTime){
                lineHigh();  //高亮当前行
                lineNo++;
            }
        };

        //监听播放器的ended事件，播放结束时回滚歌词
        audio.onended = function () {
            goback(); //回滚歌词
        };
    </script>
{% endblock %}

